<%= simple_form_for(@cocktail, html: {class: "form"}) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>



