<h1><%= @cocktail.name.capitalize %></h1>
<h3>Doses</h3>
<ul class="doses">
<% @doses.each do |dose| %>
  <li><%= dose.description %> <%= dose.ingredient.name %><%= link_to "Delete dose",
            cocktail_dose_path(@cocktail, dose),
            "class" => "delete",
            method: :delete,
            data: { confirm: "Delete ?" } %></li>
<% end %>
</ul>
<%# <%= link_to "Delete cocktail",
            cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Delete #{@cocktail.name}?" },
            "class" => "bottom-right" %>
<%= link_to "Back to cocktails list", cocktails_path, "class" => "top-right" %>

<%= render "dose_form", task: @dose %>
