<div class="cocktail-head">
<h1><%= @cocktail.name.capitalize %></h1>

</div>

<div class="top-right actions">
  <%= link_to edit_cocktail_path, "class" => "edit" do %>
      <i class="far fa-edit"></i>
  <% end %>
  <%= link_to cocktail_path(@cocktail),
            "class" => "delete",
            method: :delete,
            data: { confirm: "Delete #{@cocktail.name}?" } do %>
            <i class="fas fa-trash-alt"></i>
  <% end %>
  <%= link_to root_path, "class" => "menu-action" do %>
  <i class="fas fa-home"></i>
  <% end %>
</div>
<div class="cocktail-details row">
  <div><%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill if @cocktail.photo.attached?%></div>
  <div class="col-sm-12 col-lg-6">
    <h3>Doses</h3>
    <ul class="doses">
    <% @doses.each do |dose| %>
      <li class="dose"><span><%= dose.description %> <%= dose.ingredient.name %></span>
      <%= link_to cocktail_dose_path(@cocktail, dose),
                "class" => "delete",
                method: :delete,
                data: { confirm: "Delete #{dose.description} #{dose.ingredient.name}?" } do %>
                <i class="fas fa-trash-alt"></i>
      <% end %></li>
    <% end %>
    </ul>
  </div>
</div>

<%= render "dose_form", task: @dose %>
